<div class="place">
  <h2><%= @place.title %></h2>

  <p>
    <span class="place">Admission Price: <%= @place.price %></span>
  </p>

  <%= image_tag @place.photo_url %>

  <h3>Description: <%= @place.description %></h3>

</div>